<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>

    <ul>
        <li>
            <span class="category year">Year</span>
            <span class="meta year">{{ year }}</span>
        </li>
        <li>
            <span class="category joint">Joint</span>
            <span class="meta joint">{{ joint }}</span>
        </li>
        <li>
            <span class="category mc">MC</span>
            <span class="meta mc">{{ mc }}</span>
        </li>
        <li>
            <span class="category album">Album</span>
            <span class="meta album">{{ album }}</span>
        </li>
        <li>
            <span class="category source">Source</span>
            <span class="meta source">{{ source }}</span>
        </li>
    </ul>

</body>
</html>


